/*** uncss> filename: fileapp.css ***/
list {
  display: block;
  outline: none;
  overflow: auto;
  position: relative;
  /* Make sure that item offsets are relative to the
                         list. */
}

list>* {
  position: relative;
  /* to allow overlap */
  text-overflow: ellipsis;
  user-select: none;
  white-space: pre;
}

list>* {
  display: block;
}

list:focus>[lead] {
  z-index: 2;
}

list:not([disabled])> :hover,
grid:not([disabled])> :hover {
  z-index: 1;
}

list>[selected] {
  z-index: 2;
}

list>.spacer {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

list :-webkit-any( input[type='input'],
input[type='password'],
input[type='search'],
input[type='text'],
input[type='url']),
list :-webkit-any( button,
input[type='button'],
input[type='submit'],
select):not(.custom-appearance) {
  line-height: normal;
  vertical-align: middle;
}

.table-row {
  display: flex;
  text-align: start;
  width: 100%;
}

.table-row-cell {
  display: flex;
  overflow: hidden;
}

.table-row-cell>* {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header {
  overflow: hidden;
  position: relative;
}

.table-header-inner {
  cursor: default;
  display: flex;
  position: relative;
  text-align: start;
  user-select: none;
}

.table-header-cell {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header-splitter {
  cursor: col-resize;
  height: 100%;
  position: absolute;
  top: 0;
}

html[dir='ltr'] .table-header-splitter {
  left: 0;
}
/* We need to ensure that even empty labels take up space */
/* Keeps menu visibile while animating. Fade out animation is performed by
   Javascript. */
/* Icon on the left of the item label for cr.ui.FilesMenuItem.
   TODO(mtomasz): Upstream to cr.ui.MenuItem. */
/* Make ripple size wider to make the animation speed faster since paper-ripple
   doesn't allow us to change its animation speed. */
/* This pseudo element expands clickable area of the .trigger */

html {
  height: 100%;
}
/* Outer frame of the dialog. */

body {
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  display: flex;
  flex: auto;
  flex-direction: column;
  font-size: 81%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  width: 100%;
}
/* Drop opacity of selected rows to give a visual feedback on copy/cut
 * operation. */
/* Main part of the dialog between header and footer. */
/* List and grid are inside this container. */
/* Directory tree at the left. */
/* A vertical splitter between the roots list and the file list. It is actually
   a transparent area centered on the roots list right border.*/
/* Breadcrumbs and things under the title but above the list view. */

.dialog-header button:focus:not(.using-mouse):not([tabindex='-1']):not(:active) {
  background-color: rgba(255, 255, 255, 0.20);
}

body.check-select .dialog-header button:focus:not(.using-mouse):not([tabindex='-1']):not(:active) {
  background-color: rgba(153, 153, 153, 0.20);
}
/* These horizontal positions for #cloud-import-details are fallback value.
   Usually, these positions are calculated based on the position of dropdown.
   These fallback values will be used when the cloud import penel is shown
   before the toolbar buttons are fully laid out. */
/* Search button */
/* Search box */
/* Container for the detail and thumbnail list views. */
/* Container for the ok/cancel buttons. */
/* Copy style from paper-button for buttons on the footer. */
/* Draw outline using box-shadow to make them rounded. */

.dialog-footer .primary:focus:not(:active),
.dialog-footer .secondary:focus:not(:active),
.dialog-footer select:focus:not(:active) {
  box-shadow: 0 0 0 2px rgba(51, 103, 214, 0.5);
}
/* The container for breadcrumb elements. */
/* A single directory name in the list of path breadcrumbs. */
/* The final breadcrumb, representing the current directory. */
/* The > arrow between breadcrumbs. */

#detail-table {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
}

#detail-table>list {
  flex: auto;
}
/* Drive space warning banner. */
/* The cr.ui.Grid representing the detailed file list. */
/* Styles specific for the grid view. */
/* Padding counterweights negative margins of items, thus eliminating scroll
   bar when it's not needed. Max height is set to fit 8 items before showing
   scroll bar. */

.table-row-cell .filename-label,
.table-row-cell>div {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
/* Text box used for renaming in the detail list. */

.table-row-cell .filename-label {
  flex: auto;
}
/* Text box used for renaming in the thumbnail list. */
/* The cr.ui.Table representing the detailed file list. */

.detail-table {
  width: 100%;
}
/* Table splitter element */

.table-header-splitter {
  background-image: -webkit-image-set( url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIHWMQERGTAgAA1wBZZuhgnAAAAABJRU5ErkJggg==) 1x,
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFElEQVQIHWP4//8/g4iImBQDjAEASYkGq0NULkIAAAAASUVORK5CYII=) 2x);
  background-position: center;
  background-repeat: repeat-y;
  height: 40px;
  top: 0;
  width: 5px;
}

.table-header-splitter:last-child {
  display: none;
}
/* Container for a table header. */

.table-header {
  border-bottom: 1px solid rgb(210, 210, 210);
  box-sizing: border-box;
  flex: none;
  height: 40px;
}

.table-header-sort-image-asc::after {
  -webkit-padding-start: 13px;
  background-image: -webkit-image-set( url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAQAAADSmGXeAAAAJElEQVQIW2NgwA4WtiysQ+a2L/wPhDChhV1gLkxoYS+cCxYCALfBHKO1B4jcAAAAAElFTkSuQmCC) 1x,
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAQAAAAXtxYXAAAALklEQVR42pXKsREAAAiDQPdfJwPGHgrPo+SnR1+QpgDcJNgm2CbYJtgm2CbYbgFFidG59ATYSAAAAABJRU5ErkJggg==) 2x);
  background-position: center center;
  background-repeat: no-repeat;
  color: #888;
  content: '\00a0';
  position: relative;
  top: -1px;
}
/* Text label in a table header. */

.table-header-label {
  color: rgb(100, 100, 100);
  font-weight: 500;
  line-height: 40px;
  margin: 0 10px;
}

.table-row-cell>* {
  align-items: center;
  flex: auto;
  flex-direction: row;
  padding: 0 10px;
}

.table-row-cell {
  color: rgb(100, 100, 100);
}

.table-row-cell>.detail-name {
  display: flex;
}

.table-row-cell>.detail-name {
  color: rgb(74, 74, 74);
}

.table-row-cell {
  align-items: center;
}
/* The icon in the name column. See file_types.css for specific icons. */

.detail-icon {
  height: 24px;
  width: 24px;
}

.status-icon {
  -webkit-margin-end: 10px;
  height: 24px;
  width: 24px;
}

.detail-name>* {
  align-items: center;
  display: flex;
  flex: none;
}
/* Dimmed items */
/* Invisible container for elements representing files while dragging. */
/* TODO(fukino): Gather menu-related definitions into one place. */
/* Message panel for unmounted Drive */
/* Progress center */
/*
 * Dismiss button is shown only when
 * - Single error in close view.
 * - Error items in open view.
 */
/* Preventing FOUC */

[file-status-icon] {
  background-image: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

[file-type-icon] {
  background-image: -webkit-image-set( url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHtJREFUOBFjYKAQMCLrj4yMnADkJzAyMvIjiyOxG5ctW9aAxGdgQuYANebj0wxUWx8VFYXbAGTD0NlQmxvRDUFxAbomdD42Q0gyAGQgsiEgPguIIAYA/f4fmzqSXYBuyKgBDKgpET2AiOFTNxD///+/ghhbQWpIUYvXTAA/BB75Im3JYQAAAABJRU5ErkJggg==) 1x,
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAWRJREFUWAljYBjpgBFbALi5uXGLiIj0AOVCgVgYmxocYhf+///vunz58jc45DGEmTBEgALCwsK9QCoDxMQmj0fMACi3PzIyUhyPGhQprA4AqghGUUUcpxGkjJGRUQdIHQgKCpIkRhtWBwANESJGM7KaZcuWNQD5MEdocHBwHIqIiJBFVoONjdUB2BQSI4bsCKB6FSYmpoNARyjg00tVB4AsQnOEIsgR4eHhyrgcQXUHYHGEHNARh0JDQ9WxOYImDkB3BDBNSbGwsBwE5g5tdEdgdQAwL2MtH9A1E+IjRwfQEaCsuR9dD1YHoCuihI/mCFF0s1jQBcjlR0VF/SdHL81DgJCjRh0wGgKDMwSAhQZVCiJCOQAkPzhDgBiXU0vNaAiMhsCgDYEP1ErlaOa8R+PjLAfWoiukBh/Y0lqDbg7WBsnv378LWFlZ/wI1hAALRZL7COiWAPlvQZa/ffu2GIvcCBcCAMhgSmuaUIOSAAAAAElFTkSuQmCC) 2x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
/* TODO(fukino): Check if 'form' is in use, and remove this if possible. */
/* Large generic thumbnails, used when a file does not have a thumbnail. */
/* Icons for volume types. */

[hidden] {
  display: none !important;
}
/* "chrome-menu" class overrides some standard menu.css styles, to make custom
   menus in FileBrowser look like native ChromeOS menus. */
/* Style for <button>s to have similar style with Polymer's <paper-button>. */

.cr-dialog-buttons>button:focus:not(:active) {
  box-shadow: 0 0 0 2px rgba(51, 103, 214, 0.5);
}
/* Gray progress bar. */
/* Entry names (File names, Folder names, Volume names, ...). */
/* Their base bidi direction should be ltr even in RTL languages. */
/* Pop-up dialogs. */
/* Minor tweak of vertical position for texts which need to be vertically
 * aligned with corresponding file-type icons. */

.table-row-cell .filename-label,
.table-row-cell .size,
.table-row-cell .type,
.table-row-cell .date {
  padding-top: 1px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  .table-row-cell .filename-label,
  .table-row-cell .size,
  .table-row-cell .type,
  .table-row-cell .date {
    /* In HiDPI display, 13pt Roboto font is drawn upper than normal display,
     * so add extra padding on top of it. */
    padding-top: 3px;
  }
}
